.parent{
  background-color: aqua;
  height: 600px;
}

.child-1{
  background-color: red;
  width: 50%;
  height: 50%;
}

.child-2{
  background-color: yellow;
  width: 25%;
  height: 50%;
}

/* em */
.parent-font{
 font-size: 30px; 
}
.parent-font-1{
  /* 15px */
  font-size: 0.5em;
}
.parent-font-2{
  /* 60px */
 font-size: 2em; 
}

/* rem */
.rem-font-1{
  
  font-size: 2em;
}
.rem-font-2{
  /* 16 * 2 =  32px */
  font-size: 2em;
}

/* viewport */
.full-height{
  /* 화면 높이 만큼의 100% 높이 */
  height: 100vh;
  background-color: lightyellow;
}

.parent-div{
  color: aqua;
  font-size: 10rem;
  /* 테두리 : 2px 검은색 실선 */
  border: 2px black solid;
}

.child-div{
    /* 테두리 : 4px 빨강 점선 */
    border: 4px red dashed;
  }